@charset "UTF-8";



*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    
}




/****Hero Section***************/

.hero{
    position: relative;
    min-height:100vh;
    display: flex;
    align-items: center;
    font: size 62.5%;
}

.hero-video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-texto {
    min-width:3rem;
    padding: 1.6rem;
}

.hero-texto_titulo {
    font-size: 5.2rem;
    font-weight: 900;
    color:var(--06);
    text-transform: uppercase;
}

.hero-texto_descricao {
    font-size: 2.4rem;
    font-weight: 600;
    max-width: 57rem;
    margin:1rem 0;

}

/*** tag P ******/

p {
    font: size 1.6rem;
    line-height: 1.8;
}

.hero-texto_cta {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color:var(--05);
    text-decoration: none;
    padding: 1.6rem;
    text-transform: uppercase;
    letter-spacing: rem;
    transition: all 0.2s linear;
}

.hero-texto_cta:hover {
    letter-spacing:3.4rem;
    ;
}


/***Destino***/

.principal {
    display: grid;
    grid-template-columns:250px 1fr;
    grid-column-gap:0;
    background-image: url(midia/img1.jpg);
    position: relative;

    min-height:100vh;

    display: flex;

    align-items: center;

    font-size: 30px;
    justify-content: center;
}

section {
   
    width: 100vh;
    height: 100vh;
    

}

aside {
    margin: 20px;
    width:200vh;
    height: 100vh;
}


